body {font-family:monospace;}


.container {
    border: solid black 3px;
    padding: 20px;
    margin: 0 auto;
}
.navigation-container {
    height:50px;
}
.navigation-container h3 {
    display:inline;
    color:white;
}
#nav-bar {
    float:right;
}
#nav-bar a {
    margin:10px;
    text-decoration:none;
    font-size:18px;
    color:white;
    background-color:black;    
}
#landing {
    background-image: url('https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#landing h1 {color:white;
    text-align: center;
    font-size: 70px;
    font-weight: 900; 
     font-family: cursive;   
}
#landing h3 {color:white;
    text-align: center;
    font-size:40px;
    font-weight:45;  
    font-family:cursive;
}

#work {
    height:400px;
}

.sub-container {
    border: 2px dashed darkgray;
    width: 31%;
    float: left;
    text-align: center;
    margin-right: 10px;
}
.sub-container img {
    width:240px;
}

.sub-container a {
    background-color: lightgray;
    border: solid black 2px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10%;
    padding: 10px;
    display: inline-block;
    color: black;
    transition: 1s;
}

.sub-container a:hover {
    background-color: black;
    border: dashed white 2px;
    font-size: 25px;
    border-radius: 20%;
    padding: 10px;
    color: white;
}